$primary-color: #164f86;
$secondary-color: #cea315;
$white: #ffffff;
$black: #000000;

$primary-font: "PT Sans", sans-serif;
$secondary-font: "PT Serif", serif;

$primary-text-color: #212529;

$link-color: $primary-color;
$link-hover-color: darken($link-color, 10%);

$small: 600px;
$medium: 900px;
$large: 1170px;
