.wrapper {
    padding: 20px 0;

    @include bp($small) {
        padding: 30px 0;
    }
    @include bp($medium) {
        padding: 40px 0;
    }
}
.wrapper--white {
    background: $white;

    & + .wrapper--white {
        padding-top: 0;
    }
}
.wrapper--primary-color {
    background: $primary-color;

    & + .wrapper--primary-color {
        padding-top: 0;
    }
}
.wrapper--secondary-color {
    background: $secondary-color;

    & + .wrapper--secondary-color {
        padding-top: 0;
    }
}

.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 1.25rem; //20px

    @include bp($medium) {
        padding: 0 2.5rem; //40px
    }
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .primary {
        flex: 0 0 100%;

        @include bp($small) {
            flex: 1 0 73%;
            max-width: 75%;
            padding-right: 20px;
        }
    }
    .sidebar {
        flex: 0 0 100%;

        @include bp($small) {
            flex: 1 0 23%;
            max-width: 25%;
        }
    }

    @include bp($small) {
        flex-wrap: nowrap;
    }

    @supports (display: grid) {
        display: grid;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        grid-template-columns: 1fr;

        @include bp($small) {
            grid-template-columns: 3fr 1fr;
            .primary {
                max-width: 100%;
                padding-right: 0;
            }
            .sidebar {
                max-width: 100%;
            }
        }
    }
}
