.container {
    margin: auto;
    max-width: 1170px;
    padding: 0 1.25rem; //20px

    @include bp($medium) {
        padding: 0 2.5rem; //40px
    }
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @include bp($small) {
        flex-wrap: nowrap;
    }

    .primary {
        flex: 0 0 100%;

        @include bp($small) {
            flex: 1 0 73%;
            max-width: 75%;
            padding-right: 20px;
        }
    }
    .sidebar {
        flex: 0 0 100%;

        @include bp($small) {
            flex: 1 0 23%;
            max-width: 25%;
        }
    }

    @supports (display: grid) {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;

        @include bp($small) {
            grid-template-columns: 3fr 1fr;
            .primary {
                padding-right: 0;
                max-width: 100%;
            }
            .sidebar {
                max-width: 100%;
            }
        }
    }
}
